body {
        background-color: ivory;
    }
    
#canvas {
    border:5px solid red;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    

