:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400; 
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .btnBase {
    background-color: #071D29;
    border: 0.08rem solid white;  /* Directly define border to check visibility */
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 16px;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5rem;
  }

  .btnBase:hover { border-width: 0.12rem; }

  .header{
    background: url("/docs/assets/galaxy.webp") no-repeat center center/cover;
    width: 100%;
    height: 45rem;
  }

  .headerName {
    position: absolute;
    top: 50%; /* Move the element down 50% of the container's height */
    left: 50%; /* Move the element right 50% of the container's width */
    transform: translate(-50%, -50%); /* Pull it back to truly center it */
    text-align: center;
    font-size: 4rem;
    font-family: 'Varela Round';
    color: white;
    text-shadow: -0px -0px 0 #000, 1px -0px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  }

  .custNav {
    background-color: #123146;
    color: white;
  }