:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  
  /* CSS */
  .btnBase {
    background-color: #0B192E;
    border: 0.08rem solid white;  /* Directly define border to check visibility */
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 16px;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5rem;
  }

  .btnBase:hover { border-width: 0.12rem; }